@import "tailwindcss";

.minimal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.25) #EDEDF2;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.minimal-scrollbar:hover {
    scrollbar-color: rgba(0,0,0,0.5) #EDEDF2;
}

.hiding-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.hiding-scrollbar::-webkit-scrollbar-thumb {
  background-color: #EDEDF2;
}